SNOWFLAKE_ORGANIZATION_NAME=your_org_name
SNOWFLAKE_ACCOUNT_NAME=your_account_name
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=READER_ROLE
SNOWFLAKE_WAREHOUSE=ECOMMERCE_WH
SNOWFLAKE_DATABASE=ECOMMERCE_DB
SNOWFLAKE_SCHEMA=MARTS
