#Python / virtualenv
.venv/
venv/
**/.venv/
**/venv/
pycache/
*.pyc
*.pyo
*.pyd
#dbt local config (never commit)
profiles.yml
.user.yml
**/profiles.yml
**/.user.yml
#macOS
.DS_Store
#dbt artifacts
target/
dbt_packages/
logs/
**/target/
**/dbt_packages/
**/logs/
#IDE / editor
.vscode/
.idea/
ignore entire dbt-dag
dbt-dag/